@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
@import "./Responsive.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0vh;
}
.nav-items {
  display: flex;
  /* background-color: black; */
  align-items: center;
  /* justify-content: center; */
  width: 70%;
}
.logo {
  /* width: 20%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 40px;
  height: 40px;
  /* width: 35%; */
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 6px;
}
.nav-items li {
  margin: 7px 20px;
  list-style: none;
}
.nav-items li a {
  color: rgb(241, 241, 241);

  text-decoration: none;
}
.nav-items li a:hover {
  color: rgb(175, 174, 174);

  /* font-weight: 600; */
  /* margin-bottom: 2px solid white;
  font-size: 18px; */
}
.right-align {
  width: 48%;
  /* background-color: blue; */
  text-align: right;
}

.search {
  padding: 2px;
  outline: none;
  /* width: 139px; */
  border-radius: 30px;
  margin-top: 12px;
}
.background-nav {
  border-bottom: 3px solid white;
  background: rgba(0, 0, 0, 0.9) url("../Images/book-bg-img.jfif");
  background-blend-mode: darken;
  background-size: cover;
}
.background {
  background: rgba(0, 0, 0, 0.7) url("../Images/book-bg-img.jfif");
  background-blend-mode: darken;
  background-size: cover;
}

.box {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 80vh;
  width: 65%;
}
.first-section {
  height: 100vh;
}
.first-half {
  width: 80%;

  flex-direction: column;
  justify-content: center;
}

.second-half {
  width: 30%;
}
.second-half img {
  width: 130px;
  height: 130px;
  border: 2px solid white;
  border-radius: 50%;
  display: block;
  margin: auto;
  /* padding-left: 1px; */
}
.big-text {
  font-size: 45px;
}

.small-text {
  font-size: 15px;
}

.btn {
  padding: 4px 11px;
  margin: 12px 5px;
  background: none;
  cursor: pointer;
  color: white;
  border: 2px solid white;
  border-radius: 16px;
}

button :hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

.btn-sm {
  padding: 3 px 6px;
  vertical-align: middle;
}

/* page section part
 */

.section {
  width: 80%;
  max-width: 80%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.paras {
  padding: 0 5px;
  font-family: "Ubuntu", sans-serif;
}

.sectionLeft {
  width: 80%;
  max-width: 80%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}
.image-fluid {
  /* size: 100px 100px; */
  border-radius: 20px;
  margin: 2px;
  border: 1px solid black;
}

/* contact page
 */

.contact {
  background-color: rgb(238, 238, 238);
  height: 100vh;
}
.contact-text {
  text-align: center;
  /* background-color: red; */
  padding-top: 22px;
}
.form {
  max-width: 50%;
  margin: auto;
}
.form-input {
  font-family: "Ubuntu", sans-serif;

  margin: 20px 0;
  padding: 7px;
  width: 100%;
  border: 2px solid grey;
  border-radius: 5px;
}

.form textarea {
  border-radius: 5px;
  border: 2px solid grey;
}

.btn-dark {
  font-family: "Ubuntu", sans-serif;

  padding: 5px 10px;
  border: 2px solid rgb(61, 61, 61) !important;
  color: rgb(66, 65, 65) !important;
  margin-bottom: 4px;
}
.btn-dark :hover {
  color: white;
  background-color: black;
}

/* footer-text  */

.footer-text {
  color: white;
  text-align: center;
  padding: 10px 0;
}
